{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "endOfLine": "lf",
  "singleQuote": false,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always"
}
